<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <appSettings>
        <add key="Microsoft.ServiceBus.ConnectionString"
             value="Endpoint=sb://ls-test-123.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=H/w+J68NGyBrtoNI8DmnypbKp/tJVtniliK6EMNa0ZU=" />
        <add key="Microsoft.ServiceBus.ConnectionString.Sender"
             value="Endpoint=sb://ls-test-123.servicebus.windows.net/;SharedSecretIssuer=Sender;SharedSecretValue=7OqMu00f5hN9/2P2OHpXGkWQeXyO3YsAQfX4D6gBg5I=" />
    </appSettings>

    <log4net>
        <appender name="FileAppender" type="log4net.Appender.FileAppender">
            <file value="log-file.txt" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>

        <root>
            <level value="ALL" />
            <appender-ref ref="FileAppender" />
        </root>
    </log4net>
</configuration>